{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for label, messages in app.flashes(['info', 'notice', 'danger', 'success']) %}
        {% for message in messages %}
            <div class=" mt-4 alert alert-{{ label }}" role="alert" id="div_alertes">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté. <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 mb-5 mt-5" style="margin:auto; text-align: center;">
            <h2 class="h3 mb-3 font-weight-normal text-center" id="login_title">Espace de connexion</h2>
        </div>
    </div>
    <div class=row">
        <div class="col-md-6 mb-4" style="margin:auto;">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4" style="margin:auto;">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="row">
        <div class="col-md-4 mb-5 text-center" style="margin:auto;">
            <button class="btn btn-lg btn-light" type="submit" id="login">
                Se connecter
            </button><br><br>
            <input type="checkbox" id="remember_me" name="_remember_me" />
            <label for="remember_me"><h6>Se souvenir de moi</h6></label><br><br>
{#            <a class="btn btn-outline-light" role="button"  href="{{ path('app_forgotten_password') }}"><h6>Mot de passe oublié ?</h6></a>#}
        </div>
    </div>
</form>
    </div>
{% endblock %}
