{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block body %}
{#<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>#}

{#<div class="example-wrapper">
    <h1>Bonjour!</h1>
    <a role="button"  href="{{ path('candidat_inscription') }}"><h6>Inscription candidat test</h6></a>
    <a role="button"  href="{{ path('professionnel_inscription') }}"><h6>Inscription recruteur</h6></a>
</div>#}

{#<div id="background">
<img src="{{ asset("assets/images/test" ~ variaTest ~ ".jpg") }}" />
</div>#}
    

<body>
<div class="container-fluid">
  <div class="ban"></div>
  <div class="row image-background" style="background-image:url('{{ asset("assets/images/test" ~ variaTest ~ ".jpg") }}')">
    <div class="offset-md-1 col-lg-5 col-md-10 mt-4">
      <form class="bg-light rounded mt-5 mb-4 mb-lg-5 py-4">
        <div id="profession" class="form-group mx-5">
          <label class="mb-0"  for="rechercheInput1">Profession</label>
          <input type="text" class="form-control form-control-sm" id="rechercheInput1">
        </div>
        <div id="villes"class="form-group mx-5">
          <label class="mb-0" for="rechercheInput2">Lieu</label>
          <input type="text" class="form-control form-control-sm" id="rechercheInput2">
        </div>
        <div id="ape"class="form-group mx-5">
          <label class="mb-0" for="rechercheInput3">Secteur</label>
          <input type="text" class="form-control form-control-sm" id="rechercheInput3">
        </div>
        <div class="form-group mx-5">
          <label id="typeContrat"class="mb-0" for="rechercheInput4">Type de contrat</label>
          <input type="text" class="form-control form-control-sm" id="rechercheInput4">
        </div>
        <div class="rech text-right">
          <button type="submit" class="btn color-3E68D4 mt-1 mx-5">Rechercher des offres</button>
        </div>
      </form>
    </div>
          <div class="col-lg-6 mt-5">
              <div class="inscrp w-100 offset-md-1 col-md-10">
                <button type="button" class="btn btn-block color-3E68D4 mb-4">S'inscrire maintenant</button>
              </div>
              <div id="pastille1" class="pastille cercle embed-responsive embed-responsive-1by1 color-3E68D4"  style="border-radius: 200px; overflow: hidden;">
                <div class="intro embed-responsive-item pt-5"  style="border-radius: 200px; overflow: hidden;">
                  <h1>Votre talent, nos offres</h1>
                    <p>Lorem ipsum, etc</p>
                </div>
              </div>
{#            <a role="button" id="pastille2" class="btn pastille btn btn-light titre1" href="{{ path('candidat_inscription') }}">S'inscrire</a>#}
          </div>
      </div>
</div>

<div class="container">
        <div class="card-deck my-5">
                <div class="card bg-light px-3 pt-2">
                  <div class= "text-center">
                    <img class="card-img-top rounded-circle" src="{{ asset("assets/images/blueprint.svg") }}" style="width: 5rem; height: 5rem" alt="Card image cap">
                  </div>
                  <div class="card-body d-flex flex-column justify-content-between">
                      <h5 class="card-title">Créer mon CV en ligne</h5>
                      <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <a href="#" class="btn btn-primary colorBG-3E68D4Cdtk zoom-bouton mt-auto">Créer</a>
                  </div>
                </div>
                <div class="card bg-light px-3 pt-2">
                  <div class= "text-center">
                    <img class="card-img-top rounded-circle" src="{{ asset("assets/images/archive.svg") }}" style="width: 5rem; height: 5rem" alt="Card image cap">
                  </div>
                  <div class="card-body d-flex flex-column justify-content-between">
                      <h5 class="card-title">Déposer mon CV</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                      <a href="#" class="btn btn-primary colorBG-3E68D4Cdtk zoom-bouton mt-auto">Déposer</a>
                  </div>
                </div>

                <div class="card bg-light px-3 pt-2" >
                  <div class= "text-center">
                    <img class="card-img-top rounded-circle" src="{{ asset("assets/images/loudspeaker.svg") }}" style="width: 5rem; height: 5rem" alt="Card image cap">
                  </div>
                  <div class="card-body d-flex flex-column justify-content-between">
                      <h5 class="card-title">Les fiches métier</h5>
                      <p class="card-text">Trouver des informations utiles sur un métier en saisissant son code ROME, son appellation ou une ou plusieurs compétence(s)</p>
                          {{form_start(searchForm)}}
                          <div class="row">
                              <div class="col">
                                  {{ form_widget(searchForm.filtre) }}
                              </div>
                          </div>
                      <div class="row">
                          <div class="col-12">
                              {{ form_row(searchForm.recherche, {'attr': {'class': 'btn btn-primary colorBG-3E68D4Cdtk zoom-bouton mt-auto'}}) }}

                          </div>
                          {{form_end(searchForm)}}
                      </div>
                  </div>
                </div>

    </div>
  </div>

</body>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('profession') }}
    {{ encore_entry_script_tags('lieu') }}
    {{ encore_entry_script_tags('secteur') }}
   {# {{ encore_entry_script_tags('typeContrat') }} #}
{% endblock %}
