{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2 mt-5" style="margin:auto; text-align: center;">
                <h3 class="text-center">Inscription</h3>
                {#            <small>Le mot de passe doit contenir au moins 8 caractères, dont une majuscule, une minuscule, un chiffre et un caractère spécial</small>#}
            </div>
        </div>
        {{ form_start(proForm, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-md-6" style="margin:auto; text-align: center;">
                {{ form_errors(proForm) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2 mt-2" style="margin:auto; text-align: center;">
                <h4 class="text-center">Vos informations</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.nom) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.prenom) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.plainPassword) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3 mt-2" style="margin:auto; text-align: center;">
                <h4 class="text-center">Informations entreprise</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.raisonSociale) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.siret) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.telephone) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.socMail) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin:auto">
                {{ form_row(proForm.agreeTerms) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mb-2 text-center" style="margin:auto;">
                <button  type="submit" id="signup_button" class="btn btn-lg btn-light">Valider</button>
            </div>
        </div>

        {{ form_end(proForm) }}
    </div>
{% endblock %}
