{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-5 mt-5" style="margin:auto; text-align: center;">
            <h3 class="text-center">Inscription</h3>
        </div>
    </div>
    {{ form_start(regForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(regForm) }}
    <div class="row">
        <div class="col-md-6" style="margin:auto">
            {{ form_row(regForm.nom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin:auto">
            {{ form_row(regForm.prenom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin:auto">
            {% if route == 'candidat_inscription' %}
                {% do regForm.entreprise.setRendered() %}
            {% elseif route == 'professionnel_inscription'  %}
                {{ form_row(regForm.entreprise) }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin:auto">
            {{ form_row(regForm.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin:auto">
            {{ form_row(regForm.plainPassword) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin:auto">
            {{ form_row(regForm.agreeTerms) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mb-2 text-center" style="margin:auto;">
            <button  type="submit" id="signup_button" class="btn btn-lg btn-light">Valider</button>
        </div>
    </div>

    {{ form_end(regForm) }}
</div>
{% endblock %}
