{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-12 text-center">
                <h5> {{ rome.code ~ " - " ~ rome.libelle }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left mt-2 mb-2">
                <h6>Appellations</h6>
            </div>
            <ul>
                {% for metier in rome.metiers %}
                    <li>{{ metier.libelle }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col-12 text-left">
                <h6>Description</h6>
                {% for description in rome.descriptions %}
                <p>{{ description.libelle }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left">
                <h6>Compétences</h6>
                {% for competence in rome.competences %}
                    <p>{{ competence.libelle }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left">
                <h6>Environnement</h6>
                {% for environnement in rome.environnements %}
                    <p>{{ environnement.libelle }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}