{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_entreprise.css") }}"/>

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for label, messages in app.flashes(['info', 'notice', 'danger', 'success']) %}
                    {% for message in messages %}
                        <div class=" mt-4 alert alert-{{ label }}" role="alert" id="div_alertes">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</br>

    <div class="container-fluid">
        <div class="row">
           <div class="col-lg-3 col-sm-3">
               <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                   <div class="card-body">
                       <h5 class="card-title text-center">Offres deposées par : {{ name.recruteur.nom }} {{ name.recruteur.prenom }}</h5>
                       <p class="card-text text-center">{{ offerNumber }}</p>
                   </div>
               </div>
           </div>
            <div class="col-lg-3 col-sm-3">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nombre(s) de Matching </h5>
                        <p class="card-text text-center ">10</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Retour des Candidatures</h5>
                        <p class="card-text text-center">{{ candidateReturn }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title text-center">Moyenne visite des offres</h5>
                        <p class="card-text text-center">50%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</br>


    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-12 ">
                <div class="card card-waves">
                    <div class="card-header"> Dernier Cv mise en ligne sur CANDIDATHEQUE </div>
                    <div class="card-body text-center">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id Candidat</th>
                                <th scope="col">Nom/Prenom</th>
                                <th scope="col">Metier</th>
                                <th scope="col">Contrat rechercher</th>
                            </tr>
                            </thead>

                        {%for cv in cvs %}
                            <tbody>
                            <tr>
                                <th>{{cv.id}}</th>
                                <td>{{cv.candidat}}</td>
                                <td>{{ cv.metier }}</td>
                                <td><span class="badge badge-primary offset-md-3">CDI</span></td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                        <button type="button" class="btn btn-primary offset-md-10">Ajouter un Cv</button>
                    </div>
                </div>
            </div>
            <div class="col-8 col-sm-12">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Dernière(s) offre(s) postée(s)</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Offre numéro</th>
                                <th> Nombre(s) poustulant(s)</th>
                                <th scope="col">Metier</th>
                                <th scope="col">Entreprise</th>
                                <th scope="col">Date de debut mission</th>
                                <th scope="col">Date de fin mission</th>
                                <th scope="col">Publication depuis :</th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for offre in limitOffer %}

                                <tr>
                                    <td>{{ offre.id}}</td>

                                    {% if offre.postules is not empty %}

                                    <td>
                                        <button type="button" class="btn btn-danger offset-md-3">
                                            Voir <span class="badge badge-light">{{ offre.postules|length }}</span>
                                            <span class="sr-only">unread messages</span>
                                        </button>
                                    {% elseif offre.postules is empty %}
                                    <td>
                                        {% endif %}
                                    <td>{{ offre.metier.libelle }}</td>
                                    <td>{{ offre.recruteur.entreprise }}</td>
                                    <td class="text-center">{{ offre.dateDebut| date('d/m/Y') }}</td>
                                    <td class="text-center">{{ offre.dateFin| date('d/m/Y') }}</td>
                                    <td>

                                             <span class="badge badge-light offset-md-3">
                                                 {% set datePost = offre.datePublication|date('d-m-Y') %}
                                                 {% set today = "now"|date('d-m-Y') %}
                                                 {% set difference = date(today).diff(date(datePost))%}
                                                 {% set leftDays = difference.days %}
                                                 {% if datePost == today %}
                                                     1 day
                                                 {% else %}
                                                     {{ leftDays }}
                                                 {% endif %}
                                             </span>

                                        </td>
                                </tr>

                            {% endfor %}
                            </tbody>

                        </table>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-12">
                <div class="card card-waves">
                    <div class="card-header">Matching offre Potentiel Candidat</div>
                    <div class="card-body">
                        <table class="table table-info">
                            <thead>
                            <tr>
                                <th scope="col">N°offre</th>
                                <th scope="col">Nom de l'offre</th>
                                <th scope="col">Nombre de Candidat</th>
                                <th scope="col">Contrat</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td><span class="badge badge-light offset-md-3">9</span></td>
                                <td><span class="badge badge-primary offset-md-3"">CDI</span></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td><span class="badge badge-light offset-md-3">9</span></td>
                                <td><span class="badge badge-primary offset-md-3"">CDI</span></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td><span class="badge badge-light offset-md-3">9</span></td>
                                <td><span class="badge badge-primary offset-md-3"">CDI</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-12">
                <div class="card card-waves">
                    <div class="card-header">5 dernières Candidatures</div>
                    <div class="card-body">
                        <table class="table table-info">
                            <thead>
                            <tr>
                                <th scope="col">Date de postul</th>
                                <th scope="col">Numero de l'offre</th>
                                <th scope="col">Nom de Candidat</th>
                                <th scope="col">status</th>
                            </tr>
                            </thead>
                            {% for last in lastCanditature %}
                            <tbody>
                            <tr>
                                <th>{{ last.dateSelection | date('d/m/Y') }}</th>
                                <td>{{ last.offre.id }}</td>
                                <td>{{ last.candidat.nom }}</td>
                                <td><span class="badge badge-danger ">en attente</span></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</br>


{% endblock %}
{% block javascripts %}
    <script>

{% endblock %}