{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_entreprise.css") }}"/>

{% endblock %}

{% block body %}



    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for label, messages in app.flashes(['info', 'notice', 'danger', 'success']) %}
                    {% for message in messages %}
                        <div class=" mt-4 alert alert-{{ label }}" role="alert" id="div_alertes">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    </br>

    <div class="container-fluid">
        <div class="row">
            <div class=" col-6 col-lg-6 col-sm-6">
                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nombre(s) d'offre(s) postée(s)</h5>
                        <p class="card-text text-center">{{ offerNumber }}</p>
                        <a href="{{ path('offres_liste') }}" class="btn btn-primary pull-right">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6 col-sm-6">
                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nombre(s) cv(s) disponible(s) sur canditatheque</h5>
                        <p class="card-text text-center">{{ cvs }}</p>
                        <a href="#" class="btn btn-primary pull-right">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>


    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Dernière(s) offre(s) postée(s)</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th> Nom annonce</th>
                                <th> Publication depuis :</th>
                                <th scope="col">Date écheance</th>

                                <th scope="col">Nombre(s) de canditature(s)</th>
                                <th scope="col">Nombre(s) de candidat(s) potentielle(s)</th>


                            </tr>
                            </thead>
                            <tbody>


                            {% for offre in limitOffer %}

                                <tr>
                                    <td ><a href="{{ path('offres_liste') }}" style="color: black">{{ offre.titre }}</a></td>
                                    <td>
                                             <span class="badge badge-pill badge-success offset-md-3">
                                                 {% set datePost = offre.datePublication|date('d-m-Y') %}
                                                 {% set today = "now"|date('d-m-Y') %}
                                                 {% set difference = date(today).diff(date(datePost)) %}
                                                 {% set leftDays = difference.days %}
                                                 {% if datePost == today %}
                                                     Aujourd'hui
                                                 {% else %}
                                                     {{ leftDays }} jour
                                                 {% endif %}
                                             </span>
                                    </td>
                                    <td>
                                        {{ offre.dateDebut | date('d/m/Y') }}
                                    </td>

                                    {% if offre.postules is not empty %}

                                    <td>
                                        <a href="#" class="badge badge-danger offset-md-3">Voir les :{{ offre.postules|length }}</a>
                                        {% elseif offre.postules is empty %}
                                    <td>
                                        {% endif %}

                                    {% endfor %}
                                    <td class="text-center">5</td>
                                </tr>
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-12 col-xl-4">
                <canvas id="Chart" width="600" height="600"></canvas>
            </div>
        </div>
    </div>
    </br>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="text/javascript">
    var ctx = document.getElementById('Chart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche"],
            datasets: [{
                label: 'Nombre de visite',
                data: [12, 19, 3, 5, 2, 3, 20],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',

                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255,99,132,1)',

                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            scales: {
                xAxes: [{
                    ticks: {
                        maxRotation: 90,
                        minRotation: 80
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    </script>
{% endblock %}