{% extends 'base_ent.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="mt-2">
        {% for label, messages in app.flashes(['info', 'notice', 'danger', 'success']) %}
            {% for message in messages %}
                <div class=" mt-4 alert alert-{{ label }}" role="alert" id="div_alertes">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="jumbotron text-right mt-5 mt-4 px-4">
        <h2 class="display-4 color-principale1 mb-3 mt-3">Le recrutement efficace, en toute simplicité</h2>
        <p class="lead">Vous avez un besoin urgent en recrutement? Vous recherchez des candidats pour un poste en CDI, CDD ou Intérim?
            Nous vous aidons à identifier rapidement, à présélectionner et à contacter les talents qui vous correspondent.
           </p>
        <a class="btn text-light bg-color-principale1 btn-lg" href="{{ path('entreprise_inscription') }}" role="button">Publier une offre</a>
    </div>

    {# login modal #}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pr-4 pl-4">
                    <div class="form-title text-center">
                        <h4 class="color-principale1 text-center pt-1 mb-4">Connexion entreprise</h4>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <form class="mt-4" method="post" action="{{ path('login') }}">
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}
                            <div class="form-group ">
                                            {# <label class="mb-0" for="rechercheInput1">Profession</label> #}
                                            <input type="email" name="email" id="inputEmail" class="form-control"
                                                   placeholder="Email" required autofocus>
                            </div>
                            <div class="form-group ">
                                            {# <label class="mb-0" for="rechercheInput2">Lieu</label> #}
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                                   placeholder="Mot de passe" required>
                            </div>

                            <div class="custom-control custom-checkbox mb-3 ">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Se souvenir de moi </label>
                            </div>
                                        <button class="btn text-light bg-color-principale1 btn-block text-uppercase" type="submit">Se connecter
                                        </button>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        <hr>
                            <div class="text-center mb-4">Vous n'avez pas encore de compte? <a href="{{ path("entreprise_inscription") }}">Inscrivez-vous !</a></div>
                        </form>
                    </div>
                </div>
{#                <div class="modal-footer d-flex justify-content-center"></div>#}
            </div>
        </div>
    </div>

        {#login modal end#}

    <div class="card-deck my-5">
        <div class="card border-secondary mb-3">
        <div class="card-header color-principale1"><h1>1</h1></div>
        <div class="card-body">
            <h5 class="card-title">Inscrivez-vous</h5>
            <p class="card-text">Créez un espace entreprise qui vous permettra de gérer en un seul endroit et en seulement quelques clics vos offres d'emploi et d'alimenter
                votre CV-thèque afin d'anticiper les futurs besoins en recrutement de votre entreprise.</p>
        </div>
        </div>

        <div class="card border-secondary mb-3">
        <div class="card-header color-principale1"><h1>2</h1></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Rédigez votre offre</h5>
            <p class="card-text">Prenez le temps de compléter toutes les rubriques requises, sans oublier le titre de l'annonce, les compétences attendues, les missions...
                Plus l'annonce est précise, plus elle permettra aux candidats de comprendre vos besoins et de savoir s'ils correspondent au pofil recherché. </p>
        </div>
        </div>

        <div class="card border-secondary mb-3">
        <div class="card-header color-principale1"><h1>3</h1></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Et publiez-la</h5>
            <p class="card-text">Grâce à la multidifusion (la publication sur d'autre platformes et sites d'emploi),
                vos offres d'emploi bénéficieront d'une plus large visibilité pour atteindreun maximum de candidats qualifiés et dotés de l'expérience recherchée.</p>
        </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 color-principale1">Nos solutions</h1>
            <p class="lead">@Le logiciel BeSTT</p>
        </div>
    </div>

   </div>


{% endblock %}