{% extends 'base_entreprise.html.twig' %}

{% block body %}

<body>

<div class="jumbotron text-right px-4">
  <h1 class="display-4 color-principale1">RECRUTER ENSEMBLE</h1>
  <p class="lead">Impedit unde architecto iusto? Natus eum iure architecto corporis tenetur asperiores sunt sed ad labore aspernatur.</p>
  <hr class="my-4">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eaque magni error iusto omnis.</p>
  <a class="btn text-light bg-color-principale1 btn-lg" href="#" role="button">Publier une offre</a>
</div>

<div class="container">
    <div class="card-deck my-5">
        <div class="card border-secondary mb-3">
        <div class="card-header color-principale1"><h1>1</h1></div>
        <div class="card-body">
            <h5 class="card-title">Inscrivez-vous</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eaque magni error iusto omnis.</p>
        </div>
        </div>

        <div class="card border-secondary mb-3">
        <div class="card-header color-principale1"><h1>2</h1></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Rédigez votre offre</h5>
            <p class="card-text">Impedit unde architecto iusto? Natus eum iure architecto corporis tenetur asperiores sunt sed ad labore aspernatur culpa eius at blanditiis temporibus voluptates quos voluptatem harum.</p>
        </div>
        </div>

        <div class="card border-secondary mb-3">
        <div class="card-header color-principale1"><h1>3</h1></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Et publiez-la</h5>
            <p class="card-text">Labore rem sed dolorum repudiandae porro omnis at optio nihil iure corrupti beatae esse velit, veniam libero quas.</p>
        </div>
        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
                <div class="card card-signin my-5" style="background-color: #f8f9fa">
                    <div class="card-body">
                        <h4 class="card-title color-principale1 text-center pt-1">Connexion entreprise</h4>
                        <form class="mb-3 mb-lg-4 py-3" method="post" action="{{ path('login') }}">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="form-group ">
                                {# <label class="mb-0" for="rechercheInput1">Profession</label> #}
                                <input type="email" name="email" id="inputEmail" class="form-control"
                                       placeholder="Email" required autofocus>
                            </div>
                            <div class="form-group ">
                                {# <label class="mb-0" for="rechercheInput2">Lieu</label> #}
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       placeholder="Mot de passe" required>
                            </div>

                            <div class="custom-control custom-checkbox mb-3 ">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Se souvenir de moi </label>
                            </div>
                            <button class="btn text-light bg-color-principale1 btn-block text-uppercase" type="submit">Se connecter
                            </button>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <hr>
                            <div class="text-center"><a href="{{ path("entreprise_inscription") }}">Vous n'avez pas encore de compte, inscrivez-vous !</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="jumbotron jumbotron-fluid mx-5">
  <div class="container">
    <h1 class="display-4 color-principale1">Nos solutions</h1>
    <p class="lead">Cum provident eius ex fugiat eaque natus, voluptatibus neque, expedita ullam maxime atque quaerat iusto.</p>
  </div>
</div>

    <div class="container">
    <div class="card-deck my-5">
        <div class="card bg-light px-3 pt-2">
            <div class= "text-center">
                <img class="card-img-top rounded-circle" src="{{ asset("assets/images/blueprint.svg") }}" style="width: 5rem; height: 5rem" alt="Card image cap">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Diffuser des annonces</h5>
                <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#" class="btn text-light bg-color-principale2 zoom-bouton mt-auto">Editer</a>
            </div>
        </div>
        <div class="card bg-light px-3 pt-2">
            <div class= "text-center">
                <img class="card-img-top rounded-circle" src="{{ asset("assets/images/archive.svg") }}" style="width: 5rem; height: 5rem" alt="Card image cap">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Archiver des candidatures</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <a href="#" class="btn text-light bg-color-principale2 zoom-bouton mt-auto">Recruter</a>
            </div>
        </div>

        <div class="card bg-light px-3 pt-2" >
            <div class= "text-center">
                <img class="card-img-top rounded-circle" src="{{ asset("assets/images/loudspeaker.svg") }}" style="width: 5rem; height: 5rem" alt="Card image cap">
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Profiter de notre réseau</h5>
                <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn text-light bg-color-principale2 zoom-bouton mt-auto">S'entourer</a>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}