{% extends 'base.html.twig' %}

{% block title %}Diego index{% endblock %}

{% block body %}
    <h1>Diego index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diego in diegos %}
            <tr>
                <td>{{ diego.id }}</td>
                <td>{{ diego.nom }}</td>
                <td>{{ diego.prenom }}</td>
                <td>{{ diego.ville }}</td>
                <td>
                    <a href="{{ path('diego_show', {'id': diego.id}) }}">show</a>
                    <a href="{{ path('diego_edit', {'id': diego.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('diego_new') }}">Create new</a>
{% endblock %}
