{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('test_form') }}
{% endblock %}

{% block javascripts %}
    
{% endblock %}

{% block body %}

    <script>
        const data_form = {{ data_form|json_encode|raw }};
        
    </script>
    <h1>Create new Diego</h1>

    {{ form_start(form) }}
    
       <div id="test_form"></div>
       {{ encore_entry_script_tags('test_form') }}
        
        <button class="btn">{{ button_label|default('Save') }}</button>

        {% do form.nom.setRendered() %}
        {% do form.prenom.setRendered() %}
        {% do form.ville.setRendered() %}

    {{ form_end(form) }}

    <a href="{{ path('diego_index') }}">back to list</a>
{% endblock %}
