{% extends 'base.html.twig' %}

{% block title %}Diego{% endblock %}

{% block body %}
    <h1>Diego</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diego.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ diego.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ diego.prenom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ diego.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('diego_index') }}">back to list</a>

    <a href="{{ path('diego_edit', {'id': diego.id}) }}">edit</a>

    {{ include('diego/_delete_form.html.twig') }}
{% endblock %}
