{% extends 'base.html.twig' %}


{% block body %}

 



{#DEBUT PROFIL #}
<br>
{#<div class="half-float-bottom">
    <!--Photo du candidat-->
    <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="pro" height="100" width="100">
 </div>
 <br>
<h4>John Doe</h4>#}




  

  {# FIN NAVBAR ESPACE CANDIDAT #}
  
  {#DEBUT ONGLET ACCUEIL #}
 
</div>


  {#<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h3>Bienvenue sur votre profil</h3>
        <p>Ici vous allez choisir vos compétences, vous allez postuler à des offres, avoir la réponse à vos candidatures.</p>
        <p>Ajouter ou créer votre cv</p>

        <br>

        {# J'appelle le graphique offre/mois #}

    <h3>Graphique nombre d'offres par mois </h3>
    <div class="chart-container" style="position: relative; height:25vh; width:20vw">
    <canvas id="Chart" width="400" height="400"></canvas>
    </div>

    


    


    

        {#Fin graphique #}

       

    {#<div class="container"> 
            <div class="row">
                <div class="col-5">

                <div class="jumbotron">
             <h1 class="display-8"> Vos compétences</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-8">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <a class="btn btn-primary btn-lg" href="{{ path('recherche_liste') }}" role="button">Choisir les compétences</a>
                </div>   
  
              <div class="jumbotron">
            <h1 class="display-8"> CV envoyés</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-8">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <a class="btn btn-primary btn-lg" href="{{ path('recherche_liste') }}" role="button">Nombre de cv</a>
              </div>

              <div class="jumbotron">
            <h1 class="display-8">Nombre d'offres en attente de réponses </h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-8">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <a class="btn btn-primary btn-lg" href="{{ path('recherche_liste') }}" role="button">Voir les offres</a>


                    
            </div>
                </div>
          </div>
    </div>}#
    
      
    

    {#FIN ONGLET ACCUEIL#}




    
    
    {#</div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab"> Ici mettre Atelier cv. Mettre des template de cv  </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab"> Les offres </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">

    <h3>Vos candidatures en attentes </h3>
    

    <div class="card">
  <div class="card-body">
    Offre N°1
    <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
</div>
  </div>
</div>
    


    
    
    
    
    
    
    
    
    
    </div>
    
    {#DEBUT ONGLET VOS COMPETENCES #}
    {#<div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <br>

        <div class="container">
            <div class="row">
                <div class="col-12">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h3 class="display-6">Vos compétences</h3>
              <p class="lead">Les compétences regroupent l'ensemble de vos savoirs, savoir-faire, savoir-être professionnels, langue et permis.</p>


            </div>
        </div>
                </div>
          </div>

          {#DEBUT ACCORDEON #}
          <!--Le candidat pourra noté ses compétences grace aux étoiles 1er étoiles: débutant, 2eme: Intermédiaire, 3eme: Avancé  
          Auparavant le candidat aura choisi ses compétences via une page compétences (Cette page contiendra les compétences du métier ) voir API pour avoir des compétences prédéfini -->

          


       
    {#FIN ONGLET VOS COMPETENCES #}
    
  </div>
  

<br><br><br><br><br><br><br><br><br><br><br>

{%  endblock %}
{% block javascripts %}
<script>
  var compteur = {{compteur}}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript">
var ctx = document.getElementById('Chart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','Décembre'],
        datasets: [{
            label: ' Nombre offres dans le mois ',
            data: [compteur],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
               
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                
            ],
            
            borderWidth: 2
        }] 
    },
    options: {
        scales: {
            yAxes: [{
                tgridLines: {
                  offsetGridLines: true
                }
            }]
        }
    }
});

</script>


<script>
  var compteur = {{compteur}}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript">
var ctx = document.getElementById('Chart');
var myChart = new Chart(ctx, {
    type: 'Doughnut',
    data: {
        labels: ['Nombre de visites'],
        datasets: [{
            label: ' Nombre de visites ',
            data: [compteur],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
              
               
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            
            ],
            
            borderWidth: 2
        }] 
    },
    options: {
        scales: {
            yAxes: [{
                tgridLines: {
                  offsetGridLines: true
                }
            }]
        }
    }
});

</script>
{% endblock %}

