{% apply inline_css(source('@css/email.css')) %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title></title>
    </head>
    <body>
    <table border="0" width="100%" class="besttnetfont">
        <tr style="background-color: #B9DCE0">
{#            <td style="padding-bottom: 15px; padding-top: 15px; padding-left:5px;">#}
{#                <img src="{{ email.image('@images/bestt.png') }}" class="logo" alt="" align="left">#}
{#            </td>#}
        </tr>
        <tr>
            <td>
                <table width="80%" align="center" border="0" style="padding-right:30px; padding-left:30px;" >
                    <tr><td style="height: 15px;" ></td></tr>

                    <tr >
                        <td class="besttnetcadre" style="margin-bottom: 15px; padding-top:30px;">
                            <h2>Bonjour {{ prenom }},</h2>
                            <p>Bienvenue sur la Candidatheque! Pour finaliser votre inscription, veuiller <b>activer</b> votre compte en suivant ce lien: <a href="{{ url }}"><em><b>Confirmer mon profil</b></em></a></p>
                            <p>Vous avez aussi la possibilité de copier/coller ce lien dans votre navigateur: </p>
                            <p><b>{{url}}</b></p>

                            <p><b>Rappel:</b> Cette inscription a été réalisée avec l'adresse e-mail <b><code>{{ email.to[0].address }}</code></b>.</p>
                            </p>
                        </td>
                    </tr>
                    <tr><td style="height: 15px;" ></td></tr>

                </table>
            </td>
        </tr>
        <tr>
            <td id="t-footer" class="besttnetelement" style="background-color:#B9DCE0; text-align: center">

                <p><span class="footer_span">©</span><span class="footer_span"> 2020&nbsp;Candidatheque</span></p>
            </td>
        </tr>
    </table>


    </body></html>

{% endapply %}