<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{{ asset("assets/css/bootstrap.min.css") }}">
		<link rel="stylesheet" href="{{ asset("assets/css/font-awesome.min.css") }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/> {% block stylesheets %}{% endblock %}
		</head>
		<body>

			<header>
				<div class="navbar navbar-expand-md navbar-light bg-light">
					<h1 class="navbar-brand mr-auto" id="brand" href="#">CANDIDATHEQUE</h1>

					<div>
						<a href="{{ path("login") }}" class="btn zoom_bouton candidat-corner1 btn-sm " role="button">Se connecter</a><a href="{{ path("candidat_inscription") }}" class="btn zoom_bouton candidat-corner2 btn-sm text-white" role="button">S'inscrire</a>
						<a href="{{ path("espace_entreprise") }}" class="btn zoom_bouton entreprise-corner btn-sm" role="button">Espace entreprise</a>
					</div>
					<button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<nav class="navbar navigation-corner navbar-expand-md navbar-light bg-light py-0">
					
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul id="menu" class="navbar-nav margin-navbar">
							<li class="nav-item active">
								<a class="nav-link" href="{{ path("home") }}">Accueil
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('recherche_liste') }}">Offres d'emploi</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Atelier CV</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">NavbarBase</a>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			{% block body %}{% endblock %}
			<!-- Footer -->
			<footer
				class="page-footer font-small indigo colorBG-DBDEE5Cdtk">

				<!-- Footer Links -->
				<div
					class="container">

					<!-- Grid row-->
					<div
						class="row text-center d-flex justify-content-center pt-3">

						<!-- Grid column -->
						<div class="col-md-2 mb-3">
							<h6 class="text-uppercase">
								<a href="#! " class="colorTxt-aliceblueCdtk">A propos <i class="fa fa-wpexplorer" aria-hidden="true"></i></a>
							</h6>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-2 mb-3">
							<h6 class="text-uppercase">
								<a href="#!" class="colorTxt-aliceblueCdtk">Nos services</a>
							</h6>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-2 mb-3">
							<h6 class="text-uppercase">
								<a href="#!" class="colorTxt-aliceblueCdtk">Mentions légales</a>
							</h6>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-2 mb-3">
							<h6 class="text-uppercase">
								<a href="#!" class="colorTxt-aliceblueCdtk">FAQ</a>
							</h6>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-2 mb-3">
							<h6 class="text-uppercase">
								<a href="#!" class="colorTxt-aliceblueCdtk">Contact</a>
							</h6>
						</div>
						<!-- Grid column -->

					</div>
					<!-- Grid row-->
					<hr
					class="rgba-white-light" style="margin: 0 15%;">

					<!-- Grid row-->
					<div class="row d-flex text-center justify-content-center mb-md-0 mb-4"></div>

					<!-- Copyright -->
					<div class="footer-copyright text-center py-3 colorTxt-3E68D4Cdtk">© 2020 Copyright : Candidatheque.com</div>
					<!-- Copyright -->

				</footer>

				<script src="{{ asset("/assets/js/jquery-3.5.1.slim.min.js") }}"></script>
				<script src="{{ asset("/assets/js/popper.min.js") }}" ></script>
				<script src="{{ asset("/assets/js/bootstrap.min.js") }}" ></script>
				{% block javascripts %}{% endblock %}
			</body>
		</body>
	</html>
