{% extends 'base.html.twig' %}
{% form_theme offreForm 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/offre.css">

{% endblock %}

{% block body %}

<div class="container">
    <div class="card mt-2 p-4">
        <div class="card-body">
            <div class="row mt-2 mb-5">
                <div class="col-12">
                    <span class="text-left"><h3>Déposez votre offre d'emploi ici</h3>
                        <p class="help-msg">Le menu de saisie sémi-automatique s'affiche lorsque vous commencez à taper l'intitulé de l'offre, un métier ou la localisation de l'offre.</br>
                            Après avoir entré la ville, le département et la région seront sélectionnés automatiquement.</p>
                    <hr></span>
                </div>
            </div>
            {{ form_start(offreForm) }}
            <div class="jumbotron">
                <div class="row">
                    <div class="col-12 text-left mb-3"><h6 class="mb-3">1. MÉTIER / COMPÉTENCES</h6>
                        <p class="help-msg">
                            <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-exclamation fa-stack-1x fa-inverse" style="color:red;"></i>
                            </span>
                            Vous devez indiquer clairement que l'offre s’adresse indifféremment aux hommes et aux femmes en ajoutant le libellé <em>« Cadre H/F »</em> ou <em>« Employé(e) »</em>
                        </p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        {{ form_label(offreForm.titre) }}
                        {{ form_widget(offreForm.titre, {'attr': {'placeholder':'ex. Assistant Commercial (H/F), Infographiste Junior (H/F)...'}}) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        {{ form_label(offreForm.metier) }}
                        {{ form_widget(offreForm.metier) }}
                    </div>
                </div>
                <div class="row mt-2 d-none" id="compet">
                    <div class="col-12">
                        {{ form_label(offreForm.competences) }}
                        {{ form_widget(offreForm.competences,  {'attr': {'class': 'item-comp'}}) }}
                    </div>
                </div>
                <div class="row mt-2 d-none" id="compet2">
                    <div class="col-12">
                        {{ form_label(offreForm.competencesComplementaires) }}
                        {{ form_widget(offreForm.competencesComplementaires, {'attr': {'placeholder': 'Autres compétences, ex. Langues'}}) }}
                    </div>
                </div>
                <div class="row mt-2 d-none" id="permis">
                    <div class="col-12">
                        {{ form_row(offreForm.habilitations) }}
                    </div>
                </div>
            </div>

            <div class="jumbotron">
                <div class="row">
                    <div class="col-12 text-left mb-3"><h6>2. CONTRAT / LOCALISATION DU POSTE</h6></div>
                </div>
                <div class="row">
                    <div class="col" id="col-type">
                        {{ form_row(offreForm.type) }}
                    </div>
                    <div class="col" id="col-duree">
                        {{ form_row(offreForm.duree) }}
                    </div>
                    <div class="col" id="col-posib">
                        {{ form_row(offreForm.possibiliteCDI) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <p>Prise de poste</p>
                    </div>
                </div>
                <div id="js-datepicker" class="row mt-3">
                    <div class="col-md-4">
                        {{ form_row(offreForm.urgent) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(offreForm.dateDebut, {'attr': {'placeholder': 'Date au format jj/mm/aaaa'}}) }}
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        {{ form_label(offreForm.salaire) }}
                        {{ form_widget(offreForm.salaire, {'attr': {'placeholder': 'Salaire indicatif '}}) }}
                    </div>
                    <div class="col-8">
                        {{ form_label(offreForm.typeSalaire) }}
                        {{ form_widget(offreForm.typeSalaire) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        {{ form_row(offreForm.localisation) }}
                    </div>
                    {#                SWITH LOCATION FRANCE/ABROAD               #}
                    <div class="col-md-9">
                        <div class="row" id="loc-fr">
                            <div class="col-lg-4 col-sm-12">
                                {{ form_row(offreForm.ville) }}
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                {{ form_row(offreForm.departement) }}
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                {{ form_row(offreForm.region) }}
                            </div>
                        </div>
                        <div class="row" id="loc-etr">
                            <div class="col">
                                {{ form_row(offreForm.pays) }}
                            </div>
                        </div>
                    </div>
                    {#                END SWITH LOCATION FRANCE/ABROAD               #}
                </div>
            </div>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-12 text-left"><h6>3. DESCRIPTION / PROFIL</h6></div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        {{ form_row(offreForm.description) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ form_row(offreForm.profil) }}
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-12 text-center">
                    {{ form_row(offreForm.save, {'label': "Déposer l'offre"}) }}
                </div>
            </div>

            {{ form_end(offreForm)}}
        </div>
    </div>

</div>
{% endblock %}
{% block javascripts %}

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>#}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        let reg="";
        let dep="";
         $(document).ready(function(){

            console.log($.datepicker.regional['fr']);

            $('.js-datepicker').datepicker({
                monthNames: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                dayNames: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                dayNamesShort: ["Dim.", "Lun.", "Mar.", "Mer.", "Jeu.", "Ven.", "Sam."],
                dayNamesMin: ["D", "L", "Ma", "Me", "J", "V", "S"],
                todayHighlight: true,
                orientation: 'bottom right',
                autoclose: true,
                dateFormat: "dd/mm/yy",
                firstDay: 1,
                minDate: 'today'
            });
        });

        // autocomplete fields


        //AUTOCOMPLETE METIER & DISPLAY COMPÉTENCES

        $(function() {

            $( "#offre_metier" ).autocomplete({
                source: "{{ path('metier_autocomplete') }}",
                minLength: 1,
                select: function( event, ui ) {
                    console.log( ui.item.value );
                    setTimeout(function() {
                        $("#offre_metier").val(ui.item.label)
                    }, 100);
                    $.get("{{ path('competences_ajax') }}?metier="+ ui.item.value, function(data) {
                        console.log(data);
                        $("#compet").removeClass("d-none");

                        $("#offre_competences").html("");
                        let tags="";
                        for (const com of data) {
                            let id = com.id;
                            let libelle = com.libelle;
                            tags += "<div class=\"form-check\">        " +
                                "<input type=\"checkbox\" id=\"offre_competences_"+id+"\" name=\"offre[competences][]\" class=\"form-check-input\" value=\""+id+"\">\n" +
                                "        <label class=\"form-check-label\" for=\"offre_competences_"+id+"\">"+libelle+"</label></div>";
                        }
                        $("#offre_competences").html(tags)
                        $("#compet2").removeClass("d-none");
                        $("#permis").removeClass("d-none");

                    });
                }
            });
        });


         $(function() {


             $( "#offre_region" ).autocomplete({
                 source: "{{ path('region_autocomplete') }}",
                 minLength: 1,
                 select: function( event, ui ) {
                     console.log( "Selected: " + ui.item.value );
                     reg=ui.item.value;
                 }
             });


             $( "#offre_departement" ).autocomplete({
                 source: "{{ path('departement_autocomplete') }}",
                 minLength: 1,
                 select: function( event, ui ) {
                     console.log( "Selected: " + ui.item.value );
                     dep=ui.item.value;
                     console.log(dep);
                     $.get("/api/departements?nom=" + ui.item.value , function(data) {
                         $("#offre_region").val(data[0].region.nom)

                     });
                 }
             });

             $( "#offre_departement" ).change(function() {
                dep=$("#offre_departement").val();
             });

             $( "#offre_ville" ).on("input",function() {
                 $("#offre_departement").val("");
                 $("#offre_region").val("");
                 dep="";
                 reg="";
             });


             $( "#offre_ville" ).autocomplete({
                 source: "{{ path('ville_autocomplete') }}",
                 search: function() {

                     $( "#offre_ville" ).autocomplete({source:"{{ path('ville_autocomplete') }}?dep="+dep});
                 },
                 minLength: 1,
                 select: function( event, ui ) {

                     console.log( "Selected: " + ui.item.value  );
                     $.get("/api/villes?nom=" + ui.item.value , function(data) {
                         $("#offre_departement").val(data[0].departement.nom)
                         $("#offre_region").val(data[0].departement.region.nom)

                     });

                 }
             });
         });
    </script>

{#    CHANGE IF LOCATION IS FRANCE OR ABROAD #}
    <script>
        $(document).ready(function () {

            $('#offre_localisation_0, #offre_localisation_1').click(function () {

                //console.log(this)
                if ($(this).attr("value") == "1") {
                    console.log("France");
                    $('#loc-fr').show();
                    $('#loc-etr').hide();

                }
                if ($(this).attr("value") == "2") {
                    console.log("Etranger");
                    $('#loc-etr').show();
                    $('#loc-fr').hide();
                    $("#{{ offreForm.ville.vars.id }}").val("");
                    $("#{{ offreForm.departement.vars.id }}").val("");
                    $("#{{ offreForm.region.vars.id }}").val("");
                }
            });

            $('#offre_localisation_0').trigger('click');  // trigger the event
        });

    //    MANAGE DATE DEBUT

        $("#offre_urgent").change(function() {

            if($("#offre_urgent").is(":checked")){
                $("#offre_dateDebut").attr("disabled", true);
                $("#offre_dateDebut").val("");

            }
            else{
                $("#offre_dateDebut").attr("disabled", false);
            }
        });

        $("#offre_urgent").change();

    //    END DATE

    //    MANAGE TYPE CONTRAT / DUREE
        $("#offre_type").change(function() {
            $(this).find("option:selected").each(function(){
                var optionValue = $(this).text();
                if(optionValue == "CDI"){
                    $('#col-duree').hide();
                    $('#col-posib').hide();
                    $("#col-type").addClass("col-md-12");
                } else if(optionValue == "CTT/Interim"){
                    $('#col-duree').show();
                    $('#col-posib').show();
                    $("#col-type").removeClass("col-md-12").addClass("col-md-4");
                }else
                {
                    $('#col-duree').show();
                    $('#col-posib').hide();
                    $("#col-type").removeClass("col-md-12").addClass("col-md-8");
                }
            });
        });

        $("#offre_type").trigger("change");

    </script>

{% endblock %}
