{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            1 of 3
        </div>

        <div class="col-md-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="col-6">
                        <h3>{{ offre.titre }}</h3>
                       <p>Publiée le : {{ offre.datePublication | date('d/m/Y') }}</p>



                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <p>Region:{{ offre.region }}  </p>
                    <p>Departement:{{ offre.departement }}</p>
                    <p>Ville :{{ offre.ville }}</p>
                    <h2>Metier</h2>
                    <p>{{ offre.metier.id}}-{{ offre.metier.libelle}}</p>
                    <h2>Competence</h2>
                    {% for competence in competences %}
                    <ul>
                        <li>{{ competence}}</li>
                    </ul>
                    {% endfor %}
                    <h2>Description</h2>
                    <p class="card-text">{{ offre.description }}</p>
                    <h2>Profil</h2>
                    <h2>Date de début</h2>
                    <p>{{ offre.dateDebut  | date('d/m/Y') }}</p>
                    <h2>Salaire</h2>
                    <p>{{ offre.salaire }}€</p>
                    <a href="{{ path('offres_modification', {offre: offre.id}) }}" class="btn btn-primary">Modifier l'offre</a>
                    <!-- Delete Button -->
                    <form method="post" action="{{ url('offres_suppression', {offre: offre.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette offre?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value= "{{ csrf_token('delete' ~ offre.id) }}">
                        <input type="submit" id="cancel" class="btn btn-outline-secondary p-1 mx-0 mb-0" value ="Supprimer l'offre">
                    </form>
                </div>

                <div class="card-footer text-muted">
                    {% set datePost = offre.datePublication|date('d-m-Y') %}
                    {% set today = "now"|date('d-m-Y') %}
                    {% set difference = date(today).diff(date(datePost)) %}
                    {% set leftDays = difference.days %}
                    {% if datePost == today %}
                        Aujourd'hui
                    {% else %}
                        {{ leftDays }} jour
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col col-lg-2">
            3 of 3
        </div>
    </div>
</div>
{% endblock %}