{% extends 'base_entreprise.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/offre.css">

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="content-title">
                <h3 class="mt-5"><b>SOCIÉTÉ {{ app.user.recruteur.entreprise | upper }} </b></h3>
                <h5 class="font-weight-lighter"><b>Vous avez publié {{ offres_recruteur | length }} offres(s)</b></h5>
                </span><br>

                {% for offre_recruteur in offres_recruteur %}
                    <!-- Card -->
                    <div class="card liste-card mb-2">
                        <!-- Card content -->
                        <div class="card-body pb-0">
                            <!-- Title -->
                            <h4 class="card-title font-weight-lighter"><b>{{ offre_recruteur.titre }} {{ offre_recruteur.typeContrat }}</b>
                                {% if offre_recruteur.possibiliteCDI == true %}
                                    ( <em>possibilité CDI </em>)
                                {% endif %}
                            </h4>
                            <!-- Text -->
                            <p class="card-text mb-2">Publiée le : {{ offre_recruteur.datePublication | date("d/m/Y") }}</p>
                            <h4 class="align-self-end font-weight-lighter"><b>{{ offre_recruteur.metier.rome }} - {{ offre_recruteur.metier }}</b></h4>
                            {#        LOCATION  #}
                            {% if offre_recruteur.ville is not empty and offre_recruteur.departement is not empty and offre_recruteur.region is not empty %}
                                <p class="card-text">{{ offre_recruteur.ville }} &#8226; {{ offre_recruteur.departement }} &#8226; {{ offre_recruteur.region }} &#8226; {{ offre_recruteur.pays }}</p>
                            {% elseif offre_recruteur.ville is not empty and offre_recruteur.departement is not empty %}
                                <p class="card-text">{{ offre_recruteur.ville }} &#8226; {{ offre_recruteur.departement }}</p>
                            {% elseif offre_recruteur.departement is not empty and offre_recruteur.region is not empty %}
                                <p class="card-text">{{ offre_recruteur.departement }} &#8226; {{ offre_recruteur.region }}</p>
                            {% else %}
                                <p class="card-text">{{ offre_recruteur.ville }} {{ offre_recruteur.departement }} {{ offre_recruteur.region }} {{ offre_recruteur.pays }}</p>
                            {% endif %}
                            {#  END IF ELSE OCATION      #}
                            <h5 class="align-self-end">#5 candidats</h5>
                            <!-- Classic tabs -->
                            <div class="classic-tabs">

                                <!-- COLLAPSE/EXPAND -->

                                <div class="collapse-content">
                                    <div class="collapse" id="collapse-{{ offre_recruteur.id }}">
                                        <div class="tab-pane fade in show active" id="panel1001" role="tabpanel">
                                            <hr class="hr-card">
                                            <div class="row mt-3">
                                                <div class="col-12 text-justify">
                                                    <p class="font-small text-muted mx-1">COMPÉTENCES <br>
                                                        <ul>
                                                            {% for competence in offre_recruteur.competences %}
                                                                <li class="li-comp">{{competence.libelle}}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </p>
                                                    <hr>
                                                    {% if offre_recruteur.competencesComplementaires is not empty %}
                                                    <p class="font-small text-muted mx-1">AUTRES COMPÉTENCES <br>
                                                        <span class="li-comp">
                                                            {{ offre_recruteur.competencesComplementaires }}
                                                        </span>
                                                    </p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if offre_recruteur.habilitations is not empty %}
                                            <div class="row">
                                                <div class="col-12 text-justify">
                                                    <p class="font-small text-muted mx-1">HABILITATIONS<br>
                                                    <ul>
                                                        {% for habilitation in offre_recruteur.habilitations %}
                                                            <li class="li-comp">{{habilitation.libelle}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    </p>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="row mt-3">
                                                <div class="col-12 text-justify">
                                                    <p class="font-small text-muted mx-1">DESCRIPTION <br>
                                                        <span>{{offre_recruteur.description}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-justify">
                                                    <p class="font-small text-muted mx-1">PROFIL<br>
                                                        <span>{{offre_recruteur.profil}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <p class="font-small text-muted mx-1">DATE DE DÉBUT <br>
                                                        {% if offre_recruteur.dateDebut is not empty %}
                                                        <span>{{offre_recruteur.dateDebut | date("d/m/Y")}}</span>
                                                        {% elseif offre_recruteur.urgent is not empty %}
                                                        <span><p>Dès que possible</p></span>
                                                    {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            {% if offre_recruteur.duree is not empty %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="font-small text-muted mx-1">DUREÉE </br>
                                                            <span>{{offre_recruteur.duree }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <p class="font-small text-muted mx-1 mb-2">SALAIRE</br>
                                                        <span>
                                                            {{offre_recruteur.salaire}} €
                                                                {% if offre_recruteur.typeSalaire is same as(1) %}
                                                                    par an
                                                                {% elseif offre_recruteur.typeSalaire is same as(2) %}
                                                                    par mois
                                                                {% elseif offre_recruteur.typeSalaire is same as(3) %}
                                                                    par jour
                                                                {% elseif offre_recruteur.typeSalaire is same as(4) %}
                                                                    par heure
                                                                {% endif %}
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            {% if offre_recruteur.dureeHebdo is not empty %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="font-small text-muted mx-1">TEMPS DE TRAVAIL HEBDOMADAIRE : {{offre_recruteur.dureeHebdo }} H
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- Update Button -->
                                                    <a href="{{ path('offres_modification', {offre: offre_recruteur.id}) }}" class="btn btn-outline-info p-1 mx-0 mb-2">Modifier l'offre</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- Delete Button -->
                                                    <form method="post" action="{{ url('offres_suppression', {offre: offre_recruteur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette offre?');">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value= "{{ csrf_token('delete' ~ offre_recruteur.id) }}">
                                                        <input type="submit" id="cancel" class="btn btn-outline-secondary p-1 mx-0 mb-0" value ="Supprimer l'offre">
                                                    </form>
                                                </div>
                                            </div>
                                            <hr class="hr-card">
                                        </div>

                                        <!--/.Panel 1-->
                                    </div>
                                    <div class="row mt-4 mb-4 text-center" id="detail-tab">
                                        <div class="col-12 text-center">
                                            <a class="nav-link waves-light active btn-details" data-toggle="collapse" href="#collapse-{{ offre_recruteur.id }}" aria-expanded="false" aria-controls="collapseExample" role="button">DÉTAILS</a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Classic tabs -->
                    </div>
                    {# Card #}
                {% endfor %}
            </div>
        </div>
    </div>
    {# container #}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $(".btn-details").click(function () {
                if($(this).text()=="DÉTAILS"){
                    console.log("ok");
                    $(this).text("REPLIER");
                }
                else {
                    console.log("ko");
                    $(this).text("DÉTAILS");
                }
            });
        });
    </script>

{% endblock %}