{% extends 'base.html.twig' %}
{% form_theme offreForm 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/offre.css">

{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h3>Déposez votre offre d'emploi ici</h3>
        </div>
    </div>
{{ form_start(offreForm) }}
    <div class="row mt-5">
        <div class="col-12">
            {{ form_row(offreForm.titre) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(offreForm.metier) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(offreForm.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(offreForm.type) }}
        </div>
    </div>
    <div id="js-datepicker" class="row">
        <div class="col-md-6">
           {{ form_label(offreForm.dateDebut) }}
           {{ form_widget(offreForm.dateDebut) }}
        </div>
        <div class="col-md-6">
            {{ form_row(offreForm.dateFin) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(offreForm.duree) }}
        </div>
        <div class="col-md-6">
            {{ form_row(offreForm.salaire) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(offreForm.profil) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(offreForm.ville) }}
        </div>
        <div class="col-md-4">
            {{ form_row(offreForm.departement) }}
        </div>
        <div class="col-md-4">
            {{ form_row(offreForm.region) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(offreForm.urgent) }}
        </div>
        <div class="col-md-6">
            {{ form_row(offreForm.possibiliteCDI) }}
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-6" style="margin: auto">
            {{ form_row(offreForm.save, {'label': "Déposer l'offre"}) }}
        </div>
    </div>



{{ form_end(offreForm)}}
</div>
{% endblock %}
{% block javascripts %}

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>#}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

         $(document).ready(function(){

            console.log($.datepicker.regional['fr']);

            $('.js-datepicker').datepicker({
                monthNames: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                dayNames: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                dayNamesShort: ["Dim.", "Lun.", "Mar.", "Mer.", "Jeu.", "Ven.", "Sam."],
                dayNamesMin: ["D", "L", "Ma", "Me", "J", "V", "S"],
                todayHighlight: true,
                orientation: 'bottom right',
                autoclose: true,
                dateFormat: "dd/mm/yy",
                firstDay: 1,
                minDate: 'today'
            });
        });

        $(function() {


            $( "#offre_metier" ).autocomplete({
                source: "{{ path('offre_autocomplete') }}",
                minLength: 2,
                select: function( event, ui ) {
                    console.log( ui.item ?
                        "Selected: " + ui.item.value + " aka " + ui.item.id :
                        "Nothing selected, input was " + this.value );
                }
            });
        });



    </script>
    <script>
        var $region = $('#offre_region');
        // When region gets selected ...
        $region.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected region value.
            var data = {};
            data[$region.attr('name')] = $region.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#offre_departement').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#offre_departement')
                    );
                    // Departement field now displays the appropriate departements.
                }
            });
        });
    </script>

{% endblock %}
